.DS_Store
.thumbs.db
node_modules

# Quasar core related directories
.quasar
/dist

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# BEX related directories and files
/src-bex/www
/src-bex/js/core

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
src-electron/icons/icon.png
src-electron/icons/linux-128x128.png
src-electron/icons/linux-16x16.png
src-electron/icons/linux-24x24.png
src-electron/icons/linux-32x32.png
src-electron/icons/linux-48x48.png
src-electron/icons/linux-512x512.png
src-electron/icons/linux-64x64.png
src-electron/icons/linux-96x96.png
src-electron/icons/Square107x107Logo.png
src-electron/icons/Square142x142Logo.png
src-electron/icons/Square150x150Logo.png
src-electron/icons/Square284x284Logo.png
src-electron/icons/Square30x30Logo.png
src-electron/icons/Square310x310Logo.png
src-electron/icons/Square44x44Logo.png
src-electron/icons/Square71x71Logo.png
src-electron/icons/Square89x89Logo.png
src-electron/icons/StoreLogo.png
src/statics/app-logo-128x128.png
src/statics/icons/apple-icon-120x120.png
src/statics/icons/apple-icon-152x152.png
src/statics/icons/apple-icon-167x167.png
src/statics/icons/apple-icon-180x180.png
src/statics/icons/favicon-16x16.png
src/statics/icons/favicon-32x32.png
src/statics/icons/favicon-96x96.png
src/statics/icons/favicon.ico
src/statics/icons/icon-128x128.png
src/statics/icons/icon-192x192.png
src/statics/icons/icon-256x256.png
src/statics/icons/icon-384x384.png
src/statics/icons/icon-512x512.png
src/statics/icons/ms-icon-144x144.png
src-electron/icons/icon.png
src-electron/icons/linux-128x128.png
src-electron/icons/linux-16x16.png
src-electron/icons/linux-24x24.png
src-electron/icons/linux-32x32.png
src-electron/icons/linux-48x48.png
src-electron/icons/linux-512x512.png
src-electron/icons/linux-64x64.png
src-electron/icons/linux-96x96.png
src-electron/icons/Square107x107Logo.png
src-electron/icons/Square142x142Logo.png
src-electron/icons/Square150x150Logo.png
src-electron/icons/Square284x284Logo.png
src-electron/icons/Square30x30Logo.png
src-electron/icons/Square310x310Logo.png
src-electron/icons/Square71x71Logo.png
src-electron/icons/Square89x89Logo.png
src-electron/icons/StoreLogo.png
src/statics/icons/apple-icon-120x120.png
src/statics/icons/apple-icon-152x152.png
src/statics/icons/apple-icon-167x167.png
src/statics/icons/apple-icon-180x180.png
src/statics/icons/favicon-32x32.png
src/statics/icons/favicon-96x96.png
src/statics/icons/icon-128x128.png
src/statics/icons/icon-192x192.png
src/statics/icons/icon-256x256.png
src/statics/icons/icon-384x384.png
src/statics/icons/icon-512x512.png
src/statics/icons/ms-icon-144x144.png
src/statics/app-logo-128x128.png
src/statics/icons/apple-icon-120x120.png
src/statics/icons/apple-icon-152x152.png
src/statics/icons/apple-icon-167x167.png
src/statics/icons/apple-icon-180x180.png
src/statics/icons/favicon-32x32.png
src/statics/icons/favicon-96x96.png
src/statics/icons/icon-128x128.png
src/statics/icons/icon-192x192.png
src/statics/icons/icon-256x256.png
src/statics/icons/icon-384x384.png
src/statics/icons/icon-512x512.png
src/statics/icons/ms-icon-144x144.png
src/statics/app-logo-128x128.png
src/statics/icons/apple-icon-120x120.png
src/statics/icons/apple-icon-152x152.png
src/statics/icons/apple-icon-167x167.png
src/statics/icons/apple-icon-180x180.png
src/statics/icons/favicon-32x32.png
src/statics/icons/favicon-96x96.png
src/statics/icons/icon-128x128.png
src/statics/icons/icon-192x192.png
src/statics/icons/icon-256x256.png
src/statics/icons/icon-384x384.png
src/statics/icons/icon-512x512.png
src/statics/icons/ms-icon-144x144.png
src/statics/app-logo-128x128.png
src/statics/icons/apple-icon-120x120.png
src/statics/icons/apple-icon-152x152.png
src/statics/icons/apple-icon-167x167.png
src/statics/icons/apple-icon-180x180.png
src/statics/icons/favicon-32x32.png
src/statics/icons/favicon-96x96.png
src/statics/icons/icon-128x128.png
src/statics/icons/icon-192x192.png
src/statics/icons/icon-256x256.png
src/statics/icons/icon-384x384.png
src/statics/icons/icon-512x512.png
src/statics/icons/ms-icon-144x144.png
